# use glob syntax.
syntax: glob
*~
*.elc
*.pyc
*.json
data/log
data/input
data
literature
repetition_graph
documentation
sandbox
run.py
.ropeproject
.project
.pydevproject
.git
.pypirc
intro-pypi-steps.txt
other
*.sh

#git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached
