# use glob syntax.
syntax: glob
*~
*.elc
*.pyc
*.json
data/log
data/input
data
literature
repetition_graph
documentation
sandbox
run.py
.ropeproject
.project
.pydevproject
.git
.pypirc
intro-pypi-steps.txt
other
*.sh

#git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached




# Below is the default .gitignore in Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.yml
*.jar
