[[source]]

url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"
nose = "*"
"flake8" = "*"
coverage = "*"
twine = "*"


[packages]

numpy = "*"
scipy = "*"
tqdm = "*"
cython = "*"
pymongo = "*"
python-decouple = "*"
